extends layout

block content
  h1= title

  ul
    each ingredient in ingredient_list
      li
        a(href=ingredient.url) #{ingredient.name}
        |  (Quantity: #{ingredient.quantity})

    else
      li There are no ingredients.