extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div.form-group
      label(for='name') Ingredient:
      input#name.form-control(type='text', placeholder='Name of the ingredient' name='name' value=(undefined===ingredient ? '' : ingredient.name))
      label(for='cost') Cost:
      input#name.form-control(type='number', placeholder='Cost of the ingredient' name='cost' step="0.01" value=(undefined===ingredient ? '' : ingredient.cost))
      label(for='quantity') Quantity:
      input#name.form-control(type='number', placeholder='Amount of ingredient purchased' name='quantity' value=(undefined===ingredient ? '' : ingredient.quantity))
    button.btn.btn-primary(type='submit') Submit

  if errors
   ul
    for error in errors
     li!= error.msg